<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ meta.title }}</title>

  <link rel="stylesheet" href="main.css">
  <link type="application/atom+xml" rel="alternate" href="feeds.xml" title="{{ meta.title }}">
</head>

<body class="site">
<div class="container">

{# This sorta complicated header structure is to have the colon be the same
color as the subtitle but still wrap with the header and not get separated. #}
<header class="section-head">
  <div class="title-item"><h1>Love, Not Hate</h1><span class="header-colon">:</span></div>
  <div class="title-item">a ring of safe places all over the internet.</div>
  <div class="title-item">Forked from <a href="https://github.com/LynnKirby/cyberqueer">cyberqueer, by LynnKirby</a></div>
</header>

<section>
  <header class="members-title section-head">
    <h2>Members ({{ members | length }})</h2>
    <a href="feeds.xml">RSS Feeds</a>
  </header>
  <ul class="members-list">
    {%- for member in members -%}
    <li>
      <a href="{{ member.url }}">{{ member.title }}</a>
    </li>
    {%- endfor -%}
  </ul>
</section>

<section>
  <h2 class="section-head">What's this?</h2>
  <p>
    <a href="https://en.wikipedia.org/wiki/Webring">webring</a>, n. ancient technology from the 1990s used to navigate the internet
  </p>
</section>

<section>
  <h2 class="section-head">How to join</h2>
  <p>
    NOTE: Membership (at least right now) is limited to a group of close friends.
    However, if you'd still like to be added when membership opens, leave your
    stuff below and we'll get back to you!
  </p>
  <div class="form-wrap">
    <form name="signup" method="POST" data-netlify="true" netlify-honeypot="bot">
      <label>
        Site Name:
        <input type="text" name="name" required />
      </label>

      <label>
        Site URL:
        <input type="url" name="url" required />
      </label>

      <label>
        RSS Feed URL (optional):
        <input type="url" name="feed" />
      </label>

      <div style="visibility:hidden;display:none" aria-hidden="true">
        <label>
          Don’t fill this out if you're human:
          <input type="text" name="bot" />
        </label>
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>
  <p>
    Once you've joined the ring, copy this code snippet into your site:
  </p>
  <pre class="center-block">{% filter escape %}<iframe src="{{ meta.url }}/embed"></iframe>{% endfilter %}</pre>
  <p>
    It will render this banner that links to the other members:
  </p>
  <iframe src="{{ meta.url }}/embed"></iframe>
</section>

<footer>
  <div>
    Anticopyright 2019
  </div>
  <div>
    <a href="https://github.com/himokko413/cyberqueer">Edit me on GitHub</a>
  </div>
</footer>

</div>
</body>

</html>
